/*
Name: Calvin Gilbert
File: index.html
Date: 24 February 2024
Assignment 3: Part 2: Cool box
*/
html {
  font-family: sans-serif;
}
.box {
	width: 200px;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	color: yellow;
	
	font-size: 1.125rem;
	border: solid 1px #56144D;
	background-color: #871F78;
	border-radius: 15px;
	margin: auto;
}
/* Your CSS below here */